#ifndef SECRETS_H
#define SECRETS_H

// --- TEMPLATE - RENAME TO Secrets.h ---

// Telegram Bot
#define BOT_TOKEN "YOUR_TELEGRAM_BOT_TOKEN_HERE"
#define CHAT_ID "YOUR_CHAT_ID_HERE" // Default/Fallback Chat ID

// Note: WiFi Credentials are managed by WiFiManager
// but if you add other keys, put them here.

#endif
